.header {
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: rgb(211, 235, 3);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 226, 226);

    z-index: 100;
}